 main>.container {
     padding: 60px 15px 0;
     margin-bottom: 5rem;
 }



 main>.container-fluid {
     padding: 60px 15px 0;
     margin-bottom: 5rem;
 }


 .sticky-footer {
     position: sticky;
     left: 0;
     bottom: 0;
     width: 100%;
 }

 .bgImage {
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     background-image:url(/img/GRIDBACKGROUND.png)
 }

 .titleText {
     font-family: 'Londrina Shadow', cursive;
     font-size: 5em;
     text-transform: uppercase;
     color: rgb(247, 247, 7);

 }

 .minHeight {
     min-height: 80vh;
 }

 .titleTextTwo {
     font-family: 'Londrina Shadow', cursive;
     font-size: 2em;
     text-transform: uppercase;
     color: yellowgreen;
 }

 .fontColor {
     font-family: 'Lindrina Shadow', cursive;
     font-size: 1em;
     text-transform: initial;
     color: rgb(124, 124, 68)
 }